## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Description,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Moranbah,few clouds,2021-02-18 04:08:15,-22.0016,148.0466,86.95,43,19,16.04
1,1,Gornopravdinsk,clear sky,2021-02-18 04:08:15,60.0500,69.9000,-21.89,87,0,1.50
2,2,San Ramon,clear sky,2021-02-18 04:07:47,37.7799,-121.9780,53.60,26,1,1.79
3,3,Atuona,clear sky,2021-02-18 04:01:06,-9.8000,-139.0333,79.48,77,1,15.59
4,4,Punta Arenas,overcast clouds,2021-02-18 04:01:06,-53.1500,-70.9167,48.20,81,90,13.80

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 90

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Description,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Moranbah,few clouds,2021-02-18 04:08:15,-22.0016,148.0466,86.95,43,19,16.04
3,3,Atuona,clear sky,2021-02-18 04:01:06,-9.8000,-139.0333,79.48,77,1,15.59
6,6,Fare,light rain,2021-02-18 03:59:54,-16.7000,-151.0167,81.28,75,14,12.28
9,9,Coelho Neto,overcast clouds,2021-02-18 04:08:16,-4.2567,-43.0128,72.32,98,100,2.42
13,13,Makakilo City,clear sky,2021-02-18 04:08:16,21.3469,-158.0858,77.00,64,1,6.91
14,14,New Norfolk,clear sky,2021-02-18 04:08:16,-42.7826,147.0587,87.01,27,0,3.00
19,19,Rikitea,few clouds,2021-02-18 04:08:17,-23.1203,-134.9692,79.05,66,17,8.70
22,22,San Luis,clear sky,2021-02-18 04:08:17,-33.2950,-66.3356,71.92,43,0,8.88
25,25,Bambous Virieux,broken clouds,2021-02-18 04:08:17,-20.3428,57.7575,86.00,83,75,3.44
26,26,Esperance,broken clouds,2021-02-18 04:08:17,-33.8667,121.9000,71.60,53,75,26.46

In [5]:
# 4a. Determine if there are any empty rows.

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
BELOW YOU NEED TO FIX THE DF CALL

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

NameError: name 'clean_df' is not defined

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.

In [9]:
# 7. Drop the rows where there is no Hotel Name.
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]

    params["location"] = f"{lat},{lng}"

    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
            hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

NameError: name 'hotel_df' is not defined

In [10]:
# 8a. Create the output File (CSV)

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [11]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """

"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [12]:
# 11a. Add a marker layer for each city to the map. 

# 11b. Display the figure